@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px;
  background: #fafafa;
}

*:focus {
  outline: none;
}
