@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
}

*:focus {
    outline: none;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

.navigation {
    width: 100vw;
    height: 60px;
    background: #4b64ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px;
}

.logo {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
}

.header {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #dadada;
}

.input {
    text-align: center;
    width: 300px;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #dadada;
    color: #444;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
}

.button {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 5px 0;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #444;
    font-size: 16px;
    cursor: pointer;
    transition: all 300ms;
}

.button:hover {
    background: #444;
    color: #fff;
}

.date {
    font-size: 12px;
    font-weight: 300;
    color: #676767;
}

.actions {
    display: flex;
    margin-top: 20px;
}

.delete, .favorite {
    text-transform: uppercase;
    color: #444;
    font-size: 10px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}

.delete {
    color: #e3302d;
}

.label {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #444;
}

.list {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.time {
    font-size: 14px;
    color: #444;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.time svg {
    margin-right: 10px;
}

.card {
    background: #fff;
    border: 1px solid #dadada;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    transition: all 300ms;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding: 10px 25px;
}

.card:hover {
    border-color: #d9d9d9;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
}
